{{#each this}}
<div id="{{@key}}" class="col-xs-6 col-md-3">
  <a class="thumbnail">
    <img src="{{Poster}}">
    <h1>{{Title}}</h1>
    <h3>{{Year}}</h3>
    

    {{#if NeedsAddButton}}

    <button class="btn btn-primary btn-lg" id="addMovie">Add Movie</button>

    {{/if}}

    {{#if Seen}}

    <label for="Rating">Rating: </label>
    <input  type='hidden' class='myRating' data-start="0" data-stop="5" value={{Rating}}></input>

    {{/if}}

    {{#unless Seen}}
  
    <button type="button" id="moveToWatched" class="btn btn-default watched {{Seen}}">watched</button>
    <button type="button" class="btn btn-default delete">Delete This Movie</button>

    {{/unless}}
  </a>
</div>
{{/each}}
